/.bundle

/.browserslistrc

/.generators

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
/public/uploads/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

tmux-client-*.log
npm-debug.log
desktop.ini
.idea/
.DS_Store
.ruby-gemset
.rvmrc
*.swp
*.swo

/config/database.yml
/config/secrets.yml

.env
